#result {
  display: none;
}

.jumbotron {
  position: relative;
  background: #000 url("water.jpg") center center;
  width: 100%;
  height: inherit;
  background-size: cover;
  overflow: hidden;
  color: white;
}
